!!!
%html{"ng-app" => "AngularCasts"}
  %head
    %title Angular Casts
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "//releases.flowplayer.org/5.4.0/skin/minimalist.css", rel: "stylesheet"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    %header
      Angular Casts
    = yield
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//releases.flowplayer.org/5.4.3/flowplayer.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"}
    = javascript_include_tag "application"

